<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/iconly/bold.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">
</head>

<body>
    <div id="app">

        <!-- NAV -->
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="{% url 'dashboard' %}"><img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item active ">
                            <a href="{% url 'dashboard' %}" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-hexagon-fill"></i>
                                <span>Produtos</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="{% url 'meus-produtos' %}">Meus produtos</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{% url 'registrar-produtos' %}">Registrar produto</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{% url 'meus-produtos' %}">Editar produto</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'logout' %}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left"></i>
                                <span>Sair</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <!-- FIM NAV -->
        
        <!-- CORPO DA PÁGINA -->
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Dashboard - Usuário</h3>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-9">
                        <div class="row">

                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon purple">
                                                    <i class="iconly-boldShow"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Produtos</h6>
                                                <h6 class="font-extrabold mb-0">112.000</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon green">
                                                    <i class="iconly-boldPlay"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Último post</h6>
                                                <h6 class="font-extrabold mb-0">12/05/2021</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BARRA DE PESQUISA -->
                        <div class="row">
                            <form>
                                <div class="card p-3 d-flex flex-row">
                                    <input class="form-control mr-sm-2" type="search" style="margin-left: 20px;" placeholder="Digite aqui o que deseja consultar" aria-label="Search">

                                    <button class="btn btn-outline-primary my-2 my-sm-0 mt-3 " type="submit">Consultar</button>
                                </div>
                            </form>  
                        </div>
                        <!-- FIM BARRA DE PESQUISA -->

                        <div class="row">
                            <!-- QUADROS -->
                        {% for produto in produtos %}
                        <div class="col col-lg-4">
                            <div class="card">
                                <div class="m-2">
                                    <h4 class="mb-0">{{ produto.nome }}</h4>
                                    <p class="text-justify">{{ produto.categoria }}</p>
                                    {% if produto.imagem %}    
                                        <img src="{{ produto.imagem.url }}" class="img-fluid rounded" alt="Responsive image">
                                    {% endif %}
                                    <div class= "mt-2">
                                    </div>
                                    <div class= "mt-2">
                                        <p class="text-justify">{{ produto.descricao }}</p>
                                    </div>
                                    <div class= "mt-2 btn-primary active text-center rounded">R$ {{ produto.preco }}</div>
                                    <div class="row">
                                        <a class="col" href="{% url 'editar-produto' produto.id_produto %}"><div class="mt-2 btn-success text-center rounded cursor-pointer">Editar</div></a>
                                        <a class="col" href="{% url 'deletar-produto' produto.id_produto %}"><div class="mt-2 btn-danger text-center rounded cursor-pointer">Deletar</div></a>
                                    </div>
                                    <hr>
                                    <div class= "mt-2">{{ produto.email }}</div>
                                    <div class= "mt-2">
                                        <p class="text-right" style="text-align: right;">{{ produto.id_produto }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        <!-- FIM QUADROS -->
                        </div>
                        <p class="text-center mb-0">
                            <span class="text-primary"><strong>2</strong></span> de <span class="text-primary"><strong>10</strong></span>
                        </p>
                
                        <!--  PAGINAÇÃO -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                        <a class="page-link" href="?page={{ page_num.previous_page_number }}" aria-label="Previous">                                   
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% for pagina in produtos.paginator.page_range %}
                                    <li class="page-item"><a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a></li>
                                {% endfor %}                              
                                <li class="page-item">
                                        <a class="page-link" href="?page={{ page_num.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!--  FIM PAGINAÇÃO -->
                    </div>

                    <!-- USUÁRIOS -->
                    <div class="col-12 col-lg-3">

                        <!-- USUÁRIO LOGADO-->
                        <div class="card">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xl">
                                        <img src="{% static 'assets/images/faces/1.jpg' %}" alt="Face 1">
                                    </div>
                                    <div class="ms-3 name">
                                        <h5 class="font-bold">{{ user.user.username }}</h5>
                                        <h6 class="text-muted mb-0">{{ user.user.email }}</h6>
                                    </div>
                                </div>
                                <div class="w-100 mt-3">
                                    <a href="{% url 'editar-usuario' id_usuario %}">
                                        <div class= "btn-success active text-center rounded">Editar</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- FIM USUÁRIO LOGADO -->

                    <!-- FIM USUÁRIOS -->
                </section>
            </div>

            <!-- FOOTER -->
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
            <!-- FIM FOOTER -->
        </div>
        <!-- FIM CORPO DA PÁGINA -->
    </div>
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>